.errors {
  // color: #ff3d71;
  color: #e32727;
  position: relative;
  // position: absolute;
  width: 90%;
  // padding-bottom: 10px;
  padding-bottom: 5px;
}

// .edit-user .errors {
//     position: absolute !important;
//   }

.pos-abs
{
  position: absolute;
  top: 3px;
  left: 12px;
}