<nb-card class="for_spinner modal_sidepanel">
    <div class="modal_wrapper acc_recovery">
        <nb-card>
            <nb-card-header class="card_header">
                <label>Account recovery</label>
                <!-- <nb-icon icon="close" aria-label="close button" (click)="close()" class="cross_icon hidden"></nb-icon> -->
            </nb-card-header>
            <nb-card-body [nbSpinner]="loading">
                <form #ngForm="ngForm" id="formRecovery" [formGroup]="form" (ngSubmit)="submit(ngForm)">
                    <div class="mb_20">
                        <label>Email <span class="mandatory">*</span> </label>
                        <input name="email" aria-label="Enter email to recover account" nbInput placeholder="Enter email here" [formControlName]="'email'" />
                        <app-error-message [key]="'email'" [form]="form" [isSubmitted]="ngForm.submitted">
                        </app-error-message>
                    </div>
                    <div class="footer_button">
                        <app-button [classNext]="'large-font'" (onClick)="close()">Cancel</app-button>
                        <input aria-label="send link to recover password" type="submit" status="primary" nbButton
                            value="Send Link">
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>