
@mobiscroll:registry=https://npm.mobiscroll.com
//npm.mobiscroll.com/:_authToken=S2OIjIPYA7dsAZTyfh8BE88gxknfzBywLpI1g9WKNUM=

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=D2086F15-75EA-42B1-B6A2-19E387DA3759
