.title {
  display: contents;
}
.enable-play-option {
  display: block;
  margin-left:2px;
}
.option-txt {
  margin-right: 15px;
  z-index: 40;
}
.label-txt
{
  font-weight: 600;
  padding-bottom: 4px !important;
}
.mandatory
{
  font-size: initial !important;
}