.timesheet_details_header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #efefef;
  padding: 15px;
  background-color: #7F84EA;
  border-top-left-radius: 10px;
}

.ts_header_details_right {
  display: flex;
  justify-content: space-between;

  div {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .productivity-heading {
    color: #8e8e8e;
    font-weight: 600;
    width: 100px;
  }
}

.ts-deatils_body {
  overflow: auto;
  background: #f9f7ff;
  padding: 8px;
  padding-top: 0px;
  max-height: 78vh;
  min-height: 78vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.flag_loc_enabled {
  position: absolute;
  left: 115px;
  top: 12px;
  color: #f9bf00 !important;
}

.flag_loc_unenabled {
  position: absolute;
  left: 115px;
  top: 12px !important;
  color: #f9bf00 !important;
}

nb-user.size-large.shape-semi-round {
  margin-bottom: 0px;
  margin-top: 0px;
  height: 10vh;
  margin-left: 9px;
  padding-bottom: 10px;
}

i.fa.fa-info-circle {
  color: orange;
}

.details_accord td {
  position: relative;
  padding: 10px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.details_accord thead {
  position: sticky;
  top: 150px;
  z-index: 1;
  background: #f9f7ff;
}

.graveyard {
  position: absolute;
  top: 5px;
  width: 13px;
  left: 128px;
  top: 12px;
}

.graveyard-loc-disabled {
  position: absolute;
  top: 5px;
  width: 13px;
  left: 131px;
  top: 12px;
}

@media (max-width: 1198px) and (min-width: 931px) {
  .graveyard-loc-disabled {
    left: 131px !important;
    top: 7px !important;
  }
}

@media (max-width: 930px) and (min-width: 320px) {
  .graveyard-loc-disabled {
    left: 138px !important;
    top: 9px !important;
  }
}

.fa-search-plus {
  position: absolute;
  top: 24px;
  left: 24px;
  top: 20px;
  background: #00000042;
  border-radius: 40px;
  width: 17px;
  height: 18px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  line-height: 16px;
  font-size: 13px;
  cursor: pointer;
  padding: 3px;
}

@media (min-width: 1100px) {
  .fa-search-plus {
    left: 23px;
  }
}

@media (max-width: 1100px) and (min-width: 931px) {
  .fa-search-plus {
    left: 24px !important;
    top: 52px !important;
  }
}

@media (max-width: 930px) and (min-width: 350px) {
  .fa-search-plus {
    top: 49px !important;
    left: 42px !important;
  }
}

@media (max-width: 349px) and (min-width: 320px) {
  .fa-search-plus {
    top: 24.5px !important;
    left: 42px !important;
  }
}

@media (max-width: 930px) and (min-width: 500px) {
  .flag_loc_unenabled {
    left: 133px !important;
    top: 43px !important;
  }

  .flag_loc_enabled {
    left: 133px !important;
    top: 43px !important;
  }

  .graveyard {
    left: 145px !important;
    top: 43px !important;
  }

  .graveyard-loc-disabled {
    left: 148px !important;
    top: 43px !important;
  }
}

@media (max-width: 499px) and (min-width: 384px) {
  .flag_loc_unenabled {
    left: 122px !important;
    top: 5px !important;
  }

  .flag_loc_enabled {
    left: 122px !important;
    top: 5px !important;
  }

  .graveyard {
    left: 140px !important;
    top: 5px !important;
  }

  .graveyard-loc-disabled {
    left: 144px !important;
    top: 5px !important;
  }
}

@media (max-width: 380px) and (min-width: 320px) {
  .graveyard {
    left: 135px !important;
    top: 4px !important;
  }

  .graveyard-loc-disabled {
    left: 139px !important;
    top: 4px !important;
  }

  .flag_loc_enabled {
    position: absolute;
    left: 123px !important;
    top: 4px !important;
    color: #f9bf00 !important;
  }

  .flag_loc_unenabled {
    position: absolute;
    left: 125px !important;
    top: 4px !important;
    color: #f9bf00 !important;
  }
}

@media (max-width: 1155px) and (min-width: 931px) {
  .details_accord {
    text-align: initial !important;
  }
}

@media (max-width: 1212px) and (min-width: 931px) {
  .timezone {
    top: 56px !important;
  }
}

@media (max-width: 930px) {
  .ts-deatils_body {
    overflow-x: hidden;
    overflow-y: auto;
    background: #f6f6f6;
    padding: 8px;
    max-height: 70vh;
    min-height: 70vh;
    padding-top: 0px;
  }

  .user-details {
    padding-left: 0px !important;
  }
}


.ts-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}


.details_accord tr {
  background: white;
  height: 55px;
  border-radius: 5px;
  border-bottom: 5px solid #f9f7ff;
  text-align: left;
}

.store-loc {
  padding-right: 30px;
  padding-top: 22px;

  .store-loc-img {
    margin-right: 6px;
    margin-left: 10px;
    width: 9px;
  }
}

.user-details {
  padding-left: 30px;
}

.details {
  color: #7b68ee !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  // display: flex;
  justify-content: center;
  padding-left: 30px;

}

.ts-details-row {
  background: white;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 35px;
  z-index: 1;
  margin-top: 15px;
}

.outof-fence {
  margin-right: 5px;
  color: #ff3384;
  margin-left: 2px;
}

@media (max-width: 400px) and (min-width: 320px) {
  .store-loc {
    padding-left: 41px;
    margin-top: -4px;
    padding-top: 0px;
  }

  .ts-header {
    flex-direction: column;
  }
}


.container {
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
}

.left-container {
  width: 12px !important;
  display: flex;
  align-items: center;
}

.left-container img {
  width: 20px;
}

.leftside {
  border-right: 1px solid #e3e3e3;
  padding-right: 25px;

  .details {
    color: #6e689b !important;
    font-size: 13px !important;
    font-weight: 600 !important;
  }
}

.add {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.edit-task {
  padding-right: 15px;
  color: #ddd5d5;
  border-right: 1px solid #c9c9c9;
  margin: auto;
}

.edit-task:hover {
  color: #90e0c3;
}

.delete-task {
  color: #ddd5d5;
  padding-right: 10px;
  padding-left: 15px;
}

.delete-task:hover {
  color: #ffbfc6;
}

@media(max-width:700px) {
  .leftside {
    border-right: 0px solid #e3e3e3;
    padding-right: 0px;
  }

  .ts_header_details_right {
    flex-direction: column;
  }
}

.sticky-header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: #f9f7ff;
  padding-bottom: 10px;
}

.NoEdit {
  top: 125px !important;
}