.graph-heading-row {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 10px;
    margin-bottom: -45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graph-actions {
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

.graph-wrapper {
    border-radius: 11px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-bottom: 10px;
    font-family: 'Geist-Regular';
    border: 1px solid #EAECF0;
}

.graph-container {
    margin-top: 20px;
    margin-left: 3px;
}

.circular-graph-results {
    // height: 31vh !important;
    // width: 100% !important;
    height: 100% !important;
    padding: 20px;
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.circular-graph {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-graph {
    // background: #fafbff;
    // margin-top: -38px;
    // border-radius: 11px;
    background: #ffffff;
    border-radius: 11px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    border: 1px solid #EAECF0;

    .width-div {
        width: 50%;
    }
    .full-width{
        width: 100% !important;
    }
    .li-showing{
        margin-top: 20px;
        width: 200px !important;
    }
    
}

#save-graph, #expand-graph, #unpin-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#save-graph:hover, #expand-graph:hover, #unpin-graph:hover {
    transform: scale(1.15);
    cursor: pointer;
    // background-image: url('../../../../../assets/hover-save.png');
    border-radius: 5px;
    border: 1px solid #D0D5DD;
    // background: #050784;
    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

// .save-graph,
// .expand-graph {
//     width: 16px;
//     cursor: pointer;
//     transition: all 0.2s ease-in-out;
// }

// .save-graph:hover {
//     transform: scale(1.15);
//     cursor: pointer;
//     background-image: url('../../../../../assets/hover-save.png');
// }


// .save-graph:hover,
// .expand-graph:hover {
//     transform: scale(1.15);
//     cursor: pointer;
// }

.chart-title {
    margin-left: 33px;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--colors-text-text-primary-900, #101828);
    font-family: Geist-Bold;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
}

.content-option, .edit-btn, .option-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs, 4px);
    border-radius: 10px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.edit-btn, .option-btn{
    height: 35px;
}

.label-btn-list{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}

.label-btn{
    display: flex;
    padding: var(--spacing-sm, 6px) 10px;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 30px;
    background: rgba(234, 236, 240, 0.50);
    border-radius: 10px;
    border-color: white;
    font-size: 7px;
    color: gray;
}

.label-btn:hover{
    color: white;
    background: #023E8A;
}

@media(max-width:1226px) {
    .chart-title {
        width: fit-content;
        margin-left: 20px;
        display: -webkit-box;
        max-width: fit-content;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: inherit;
        color: var(--colors-text-text-primary-900, #101828);
        font-family: Geist;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
    }
}

@media(min-width:1550px) {
    .circular-graph {
        height: 31.5vh !important;
    }
}

@media(max-width:1250px) {
    .circular-graph {
        height: 30.5vh !important;
    }
}

.custom-legend-list {
    width: 190px;
    height: 159px;
    margin-left: -95px;
    overflow-y: auto;
}

.custom-legend-item {
    background: #D0D5DD3D;
    color: #475467;
    padding: 7px;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    width: 94px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border: 1px solid #D0D5DD3D;
}

.li-hidden {
    text-decoration: line-through !important
}

.slice-color {
    background-color: rgb(108, 213, 236);
    color: rgb(108, 213, 236);
    width: 10px;
    margin-right: 10px;
    height: 10px;
    display: inline-block;
    margin: auto;
    margin-right: 5px;
    border-radius: 2px;
}