<nb-card [nbSpinner]="loading" class="for_spinner modal_sidepanel">
    <div class="modal_wrapper reset_password">
        <nb-card>
            <nb-card-header style="background:#7b68ee; color: white;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <label style="margin-bottom: 5px; margin-top: 5px;">Change password</label>
            </nb-card-header>
            <nb-card-body>
                <form #ngForm="ngForm" id="formResetPass" [formGroup]="form" (ngSubmit)="submit(ngForm)">
    
                    <div class="mb_20">
                        <nb-form-field>
                            <label>Choose New Password <span class="mandatory">*</span> </label>
                            <input [type]="getInputType()" [formControlName]="'password'" nbInput>
                            <button type="button" size="medium" nbSuffix nbButton ghost (click)="toggleShowPassword()">
                                <nb-icon [icon]="showPassword ? 'eye-off-2-outline' : 'eye-outline'" pack="eva"
                                    [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                </nb-icon>
                            </button>
                            <app-error-message [key]="'password'" [form]="form" [isSubmitted]="ngForm.submitted">
                            </app-error-message>
                        </nb-form-field>
                    </div>
                    <br>
                    <div class="mb_20">
                        <nb-form-field>
                            <label>Confirm Password <span class="mandatory">*</span> </label>
                            <input [type]="getInputType1()" [formControlName]="'confirm_password'" nbInput>
                            <button type="button" size="medium" nbSuffix nbButton ghost
                                (click)="toggleShowConfirmPassword()">
                                <nb-icon [icon]="showConfirmPassword ? 'eye-off-2-outline' : 'eye-outline'" pack="eva"
                                    [attr.aria-label]="showConfirmPassword ? 'hide password' : 'show password'">
                                </nb-icon>
                            </button>
                            <app-error-message [key]="'confirm_password'" [form]="form"
                                [isSubmitted]="ngForm.submitted"></app-error-message>
                        </nb-form-field>
                    </div>

                    <div class="footer_button">
                        <!-- <app-submit-button [form]="form" [label]="'Change Password'"></app-submit-button> -->
                        <app-button [classNext]="'large-font'" (onClick)="close()">Cancel</app-button>
                        <input type="submit" status="primary" nbButton value="Change Password">
                    </div>

                </form>
            </nb-card-body>
        </nb-card>
    </div>
