.nb-form-field-limited-width.nb-form-field-size-medium {
  max-width: var(--form-field-medium-max-width);
  max-width: 100%;
}

.footer_button {
  justify-content: flex-end;
}
.reset_password .nb-form-field-addon
{
  top: 13px;
}
.mandatory {
  font-size: initial;
}
