.bubble {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  .label-name
  {
    // margin-left: 5px;
  }
.mr-05
  {
    margin-right: 5px;
  }

  // .tag-full {
  //   background: #eeeeee;
  //   color:  #eeeeee;
  //   border-radius: 16px;
  //   padding: 6px;
  //   display: inline-block;
  //   text-align: center;
  //   min-width: 54px;
  // }
.mr-5
  {
    margin-right: 5px;
  }
  .dot-tag
  {
    display: flex;
    align-items: center;
  }