.fa-envelope {
  // color: #7b68ee;
  color: #4c30e8c9;
  background: rgb(255 255 255 / 8%);
  padding: 13px;
  border-radius: 40px;
  box-shadow: 0 9px 5px rgb(0 0 0 / 1%), 0 6px 7px rgb(0 0 0 / 6%);
  margin-bottom: 20px;
  font-size: 30px;
}
