.empty-state {
  // width: 750px;
  // margin: 40px auto;
  // background: #ffffff;
  // box-shadow: 1px 2px 10px #e1e3ec;
  // border-radius: 4px;

  width: 100%;
  margin: 0px auto;
  background: #f1f2ff;

  /* box-shadow: 1px 2px 10px #e1e3ec; */
  border-radius: 4px;

  &__content {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .empty-state__icon {
      width: 220px;
      height: 220px;
      display: flex;
      align-items: center;
      border-radius: 200px;
      justify-content: center;
      background-color: #edf1f7;
      box-shadow: 0px 2px 1px #e1e3ec;

      img {
        width: 250px;
      }
    }

    .empty-state__message {
      // color: #7B68EE;
      // color: #4c30e8c9;
      // font-size: 1.5rem;
      // font-weight: 500;
      margin-top: 0.85rem;
      font-size: 18px;
    text-align: center;
    color: #6e698b;
    font-weight: bolder;
    }

    .empty-state__help {
      color: #a2a5b9;
      font-size: 0.875rem;
      position: relative;
      top: 7px;
    }
  }
}
@media (max-width:600px)
{
  .empty-state__content .empty-state__message
  {

    margin-bottom: 20px;
  }
  .empty-state__content
  {
    padding-bottom: 20px;
  }
}


.no-rec-heading {
  font-size: 18px;
    /* width: 270px; */
    text-align: center;
    color: #6e698b;
}