.truncate {
  // width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.fa-flag {
  display: none;
}

.overtime {

  // color: red;
  .fa {
    display: inline-block;
    color: red;
    margin-left: 5px !important;
  }

  img {
    display: none;
  }
}

.out_of_schedule {

  // color: #f9bf00 !important;
  .fa {
    display: inline-block !important;
    margin-left: 5px !important;
    color: #f9bf00 !important;
  }

  img {
    display: none;
  }
}

.double_flags {

  // color: red !important;
  img {
    display: inline-block !important;
    margin-left: 5px;
    margin-bottom: -3px;
    color: red;
  }

  i {
    display: none;
  }
}

i.fa.fa-info-circle {
  color: orange;
}

.fa-search-plus {
  position: absolute;
  top: 12px;
  background: #00000042;
  border-radius: 40px;
  width: 17px;
  height: 18px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  line-height: 16px;
  font-size: 13px;
  cursor: pointer;
  padding: 3px;
  z-index: 1;
}

.within-fence {
  margin-right: 5px;
  color: #83c8ff;
}

.outof-fence {
  margin-right: 5px;
  color: #ff3384;
}

@media (min-width: 1100px) {
  .fa-search-plus {
    // left: 8px !important ;
    left: 12px !important;
  }
}

@media (max-width: 1100px) and (min-width: 931px) {
  .fa-search-plus {
    top: 0px;
    left: 9px !important;
  }
}

@media (max-width: 930px) {
  .fa-search-plus {
    left: 116px !important;
  }
}

.right_border_lastco {
  border-left: 1px solid #ccc;
  padding-left: 7px;
}

.disable_row .right_border_lastco {
  border-left: none;
}

// @media (max-width: 400px) {
//   .link_name {
//     // width: 130px !important;
//     // white-space: nowrap !important;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
// }

.daily_view {

  // transition: transform .2s;
  tr:hover td {
    cursor: aupointerto;
    // transform: scale(1.05);
  }

  tr:hover td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    cursor: pointer !important;
  }

  nb-user.size-medium.shape-round {
    cursor: pointer;
  }
}

.store-col {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
}

.user-count {
  background: #e9e4fd;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #7b68ee;
  font-size: 11px;
  font-weight: 500;
}

@media (min-width: 931px) {
  .filters-wrapper {
    display: none;
  }
}

@media(max-width:930px) and (min-width:680px) {
  .filters-wrapper {
    display: flex;
    margin-top: 0px;
    color: #6e689b;
    position: sticky;
    top: 83px;
    z-index: 1;
    background: #f9faff;
    padding: 10px 10px !important;
    justify-content: space-between;
  }
}

@media (max-width: 679px) and (min-width: 320px) {
  .filters-wrapper {
    display: flex;
    margin-top: 0px;
    color: #6e689b;
    position: sticky;
    top: 115px;
    z-index: 1;
    background: #f9faff;
    padding: 10px 10px !important;
    justify-content: space-between;
  }
}

@media(max-width:930px) and (min-width:400px) {
  .sort {
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

@media(max-width:400px) {
  .sort {
    margin-right: 5px !important;
  }
}

@media(max-width:600px) {
  .sorting-in-resp {
    display: flex;
    flex-direction: column;
  }
}