.modal_wrapper {
  width: 100% !important;
  margin: 0px auto !important;
}

ul {
  padding: 0;
  overflow: auto;
  overflow: auto;
  max-height: 400px;
  width: 400px;

  li {
    list-style-type: none;
    margin-bottom: 6px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 9px;
    display: flex;
  }
}
