.dynamicElem {
  margin-bottom: 15px;
  margin-top: 2px;
  display: flex;
  justify-content: flex-start;
  // margin-left: 13px;
}

.confirm-modal
{
  nb-card-body
  {
    background-color: white;
  }
}