.view-automation {
    width: 550px;
    nb-card-header label
    {
        margin-bottom: 0px !important;
    }
}

.title {
    display: contents;
}

.colored-txt {
    color: #6e689b;
}

.mb-10 {
    margin-bottom: 10px;
}
.txt-size
{
    font-size: 13.5px;
}
.txt-bold
{
    font-weight: 600;
}

.footer-row
{
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 18px;
}