.timesheets_wrapper .wrapper_header {
  // padding: 36px 0px;
  // padding-bottom: 13px;
  padding: 28px 0px;
  padding-bottom: 31px;
  top: 11px !important;
  background: #f9faff;
}

@media (max-width: 930px) and (min-width:520px) {
  .timesheets_wrapper .wrapper_header {
    // padding: 60px 10px !important;
    // padding-bottom: 44px !important;
    padding: 61px 10px !important;
    padding-bottom: 15px !important;
  }
}

nb-button-group.custom-css {
  padding: 0px !important;
}

nb-button-group.custom-css2 {
  padding: 0px !important;
}

// .toggle_buttons {
//   color: #6e698b !important;

//   [nbButton] {
//     color: #6e698b !important;
//     background-color: transparent !IMPORTANT;
//   }

//   [nbButton].appearance-filled.status-primary,
//   .appearance-filled.status-primary[nbButton] {
//     background-color: white !important;
//     color: #7b68ee !important;
//     box-shadow: 0 1px 3px rgb(0 0 0 / 2%), 0 1px 3px rgb(0 0 0 / 14%);
//     z-index: 1;
//   }
// }

@media (max-width: 725px) and (min-width: 320px) {
  .resp-search {
    // position: fixed;
    // right: 20px;
    // top: 110px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .search_input_fix {
    flex-direction: column;
  }

  .timesheets_wrapper .wrapper_header {
    padding: 93px 0px !important;
    padding-bottom: 10px !important;
    width: 108%;
  }
}


nb-button-group [nbButton].appearance-filled.status-primary:not(:first-child):not(:hover):not(:focus):not(:active):not([disabled]),
[dir=ltr] nb-button-group [nbButtonToggle].appearance-filled.status-primary:not(:first-child):not(:hover):not(:focus):not(:active):not([disabled]) {
  box-shadow: 0 1px 3px rgb(0 0 0 / 2%), 0 1px 3px rgb(0 0 0 / 14%);
}


// .popover__wrapper {
// position: relative;
// margin-top: 1.5rem;
// display: inline;
// position: fixed;
// bottom: 15px;
// right: 60px;
// text-align: center;
// z-index: 3;
// animation: bot-to-top 2s ease-out;
// cursor: pointer;
// width: 60px;
// height: 60px;
// }
// .popover__content {
//   opacity: 0;
//   visibility: hidden;
//   position: absolute;
//   left: -115px;
//   transform: translate(0, 10px);
//   background-color: #5940ea;
//   padding-left: 15px;
//   padding-right: 15px;
//   border-radius: 15px;
//   box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
//   width: 195px;
// }
// .popover__content:before {
//   position: absolute;
//   z-index: -1;
//   content: "";
//   right: calc(4% - 22px);
//   top: 17px;
//   border-style: solid;
//   border-width: 0 10px 10px 10px;
//   border-color: transparent transparent #5940ea transparent;
//   transition-duration: 0.3s;
//   transition-property: transform;
//   transform: rotate(90deg);
// }
// .popover__wrapper .popover__content {
//   z-index: 10;
//   opacity: 1;
//   visibility: visible;
//   // transform: translate(7px, 10px);
//   transform: translate(-91px, 9px);
//   transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
// }
// .popover__message {
//   text-align: justify;
//   color: #ffffff;
//   font-size: 14px;
// }
.import-users {
  background: #ffffff;
  padding: 7px 9px;
  border-radius: 10px;
  color: #7b68ee !important;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  min-width: 30px;
  border-radius: 52%;
  width: 32x;
  height: 32px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-left: 10px !important;
}

.resp-search {
  display: inline-flex;
}

@media(min-width:1000px) {

  .add-store-link {
    flex-direction: column;
  }

  // .link-store {
  //   display: none;
  // }
}

@media(max-width:999px) {
  // .search_input_fix {
  //   top: 100px !important;
  // }

  .add-store-link {
    flex-direction: column;
  }

  // .link-store {
  //   background: #ffcab9;
  //   padding: 3px;
  //   padding-left: 17px;
  //   font-size: 14px;
  //   margin-top: 10px;
  // }
}