// .spinner {
//     width: 30px;
//     height: 30px;
//     top: 20%;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
  
//     margin: auto;
//     &.spinner-circle {
//       border: 4px rgba(#7b68ee, 0.25) solid;
//       border-top: 4px rgba(#7b68ee, 1) solid;
//       border-radius: 50%;
//       -webkit-animation: spCircRot 0.6s infinite linear;
//       animation: spCircRot 0.6s infinite linear;
//     }
//     @-webkit-keyframes spCircRot {
//       from {
//         -webkit-transform: rotate(0deg);
//       }
//       to {
//         -webkit-transform: rotate(359deg);
//       }
//     }
//     @keyframes spCircRot {
//       from {
//         transform: rotate(0deg);
//       }
//       to {
//         transform: rotate(359deg);
//       }
//     }
//   }
  

.loader1 {
  width: 100%;
  height: 5px;
  background-color: #e1e1e1;
  margin: 0 auto;
  /* margin-top: 30px; */
  position: fixed;
  top: 0px;
  // z-index: 2;
  z-index: 1041;
  left: 0;
}



.bar1 {
  width: 0%;
  height: 5px;
  // background-color: #7b68ee;
  // background-color: #48D0D0;
  z-index: 1041;
  animation: bar1 1s ease-out infinite;
  // background-image: linear-gradient(to right top, #7b68ee, #0094fe, #00b1f0, #4fc6d9, #9fd5ce);
  // background-image: linear-gradient(to right, #7b68ee, #ff53bb, #ff7874, #ffbf40, #d7ff65);
  /* background-image: linear-gradient(to right, #7b68ee, #afdc5c, #ff7584, #9ffff3, #6e689b); */
   background-image: linear-gradient(to right, #7b68ee, #00a5ff, #00cfff, #00edbc, #8dff65);
}

@keyframes bar1 {
  from {width: 0%;}
  to {width: 99%;}
}


