.header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #efefef;
    padding-top: 10px;
    background-color: #7f84ea;
    border-top-left-radius: 10px;

    .header {
        display: flex;
        justify-content: space-between;
        min-height: 40px;

        .heading {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            font-size: 17px;
            color: white;
            font-weight: 400;
            padding-top: 7px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.markdone-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.notification-btn {
    color: #7b68ee !important;
    background-color: white !important;
    // box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.notification-btn {
    margin-left: 6px;
    background: white;
    color: #6e689b;
    font-weight: 600;
    padding-right: 7px;
    border-radius: 7px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    // box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 4px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.Noti {
    color: #FFC107 !important;
}

.bell {
    position: relative;
    margin-right: 5px;
    color: #7b68ee;
    font-size: 14px;
    background: white;
    padding: 9px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.bubble-notification {
    color: #FF5722;
    position: absolute;
    right: 3px;
    top: -3px;
    font-size: 11px;

}

.btn-container {
    position: relative;
    margin-left: -4px;
}


.disabled-row {
    background: #efefef !important;
}



@media(max-width:929px) and (min-width:320px) {
    .notification-btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .notification-btn {
        font-size: 12px !important;
    }
}

.reject-btn {
    background: white !important;
    border: 1px solid #e91e63 !important;
    color: #e91e63 !important;
    height: 26px;
    // margin-right: 5px;
}

.circle-btn {
    background: #ffffff;
    padding: 5px 8px;
    border-radius: 10px;
    color: #7b68ee !important;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    border-radius: 52%;
    width: 25px;
    height: 25px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    display: inline-flex;

    i {
        font-size: 16px;
    }
}

.approve-btn {
    background: white !important;
    border: 1px solid #7b68ee !important;
    color: #7b68ee !important;
    height: 26px;
    // margin-right: 5px;
}


.approve, .deliver{
    .circle-btn {
        padding: 5px 5px !important;
    }
}


@media(min-width:700px) {
    .circle-btn {
        display: none !important;
    }

    .approve-btn,
    .reject-btn,
    .approve-publish-btn, .deliver-btn {
        display: flex !important;
    }
}

@media(max-width:699px) {
    .circle-btn {
        display: flex !important;
    }

    .approve-btn,
    .reject-btn,
    .approve-publish-btn,.deliver-btn {
        display: none !important;
    }

    .markdone-container {
        width: 90px !important;

    }

    .request-details {
        .markdone-container {
            width: 60px !important;
        }
    }
}

.task-done {

    .approve-btn {
        border: 1px solid #7b68ee !important;
    }

    .reject-btn {
        border: 1px solid #e91e63 !important;
    }
}

.request-details {
    .scheduler_user .user-name {
        width: fit-content !important;
        margin-top: 0px !important;
        word-break: initial;
        color: #8984B4 !important;
        font-weight: 500 !important;
    }

    .scheduler_user .user-picture {
        height: 30px !important;
        width: 30px !important;
    }
}