<div class="modal_wrapper reset-password">
    <nb-card>
        <nb-card-header class="card_header">
            <label> <b class="title">Change password</b> </label>
        </nb-card-header>
        <nb-card-body [nbSpinner]="loading">
            <form #ngForm="ngForm" id="form" [formGroup]="form" (ngSubmit)="submit(ngForm)">
                <div style="margin-bottom: 25px;">
                    <span style="font-size: 13px;">
                        <span class="email-txt">
                           You are changing password of <b style="color: #6e689b;"> {{user?.email}}</b>
                        </span>
                    </span>
                    <div class="trim_name" style="padding-top: 11px;">
                        <app-user-avatar class="user-table" size="medium" name="{{ user.name }}"
                            [color]="user?.color + opacity" [initialColor]="user?.color" nbTooltipAdjustment="noop"
                            [nbTooltip]="user.name" [title]="user?.role">
                        </app-user-avatar>
                    </div>
                   

                </div>
                <div class="mb_20">
                    <nb-form-field class="new-pass">
                        <label class="new-pass-label">New Password <span class="mandatory">*</span> </label>
                        <span>
                            <input [type]="getInputType()" aria-label="password field" placeholder="Create a password here"
                            [formControlName]="'password'" nbInput>
                        <button type="button" class="show-pass" size="medium"
                            aria-label="toggle show password" nbSuffix nbButton ghost (click)="toggleShowPassword()">
                            <nb-icon [icon]="showPassword ? 'eye-off-2-outline' : 'eye-outline'" pack="eva"
                                [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                        </span>
                        <app-error-message [key]="'password'" [form]="form" [isSubmitted]="ngForm.submitted">
                        </app-error-message>
                    </nb-form-field>
                </div>
                <div class="footer_button" style="justify-content: flex-end; margin-top:15px !important">
                    <app-button (onClick)="close()">Cancel</app-button>
                    <button size="medium" type="submit" nbButton status="primary">Change password</button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>