.title {
  display: contents;
}
.label-txt {
  font-weight: 600;
  padding-bottom: 4px !important;
}
.mandatory {
  font-size: initial !important;
}
.new-pass {
}

.nb-form-field-limited-width.nb-form-field-size-medium {
  width: 100% !important;
  max-width: 100%;
}
.email-txt {
  color: #272727;
  font-weight: 500;
  /* margin-left: 4px; */
  // background: #e8e4ff;
  padding: 4px;
  // padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.new-pass-label {
  margin-bottom: 5px;
  margin-left: 1px;
}
.show-pass {
  position: absolute !important;
  // right: 3px !important;
  right: 24px !important;
  margin-top: 2px !important;
  z-index: 100;
}
