.card {
  background: #fff;
  padding: 40px;
  margin: 4%;
  // border-top: 5px solid #7b68ee;
  border-top: 5px solid #4c30e8c9;
  line-height: 62px;
}

.logo {
  // margin: 40px;
  margin: 24px;
  // margin-bottom: 90px;
  display: block;
  margin-left: 60px;
}


.logo_svg_login
{
  width: 160px;
}